<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="Stylesheet" href="style.css" />
  </head>
  <body>

    <div class="container">
      <h1>Welcome {{username}}</h1>

      <a href="/logout">Logout</a>
    </div>

  </body>
</html>
