body {
  background-color: #DDD;
}

.container {
  background-color: #FFF;
  border: solid 1px #000;
  padding: 20px;
}

form {
  border: solid 1px #DDD;
  padding: 10px;
}

.errors {
  background-color: rgba(255, 0, 0, 0.2);
  border: solid 1px red;
  padding: 10px;
}

.errors li {
  color: red;
  list-style-type: none;
}
